@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Nunito:wght@200;300;500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

div#container {
    header {
        nav {
            div#animation {
                font-size: 2em;
                float: left;
                margin-top: 1em;
                margin-left: 1em;
            }

            .user-path:hover {
                fill: red;
            }
        }

        ul {
            float: right;
            margin-top: 1em;
            margin-right: 2em;

            li {
                display: inline-block;
                padding: 2em;
                cursor: pointer;
                transition: all 200ms linear;

                a {
                    text-decoration: none;
                    font-weight: 400;
                    color: black;
                    transition: all 100ms linear;
                    font-size: 1em;
                }
            }

            li:hover {
                background-color: rgb(205, 174, 0);

                a {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

//first logo
div#container2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 6, 44);
svg#saturn {
    width: 50%;
    .topCirc, .bottomCirc,  .letterS, .letterA,  .letterT, .letterU, .letterR, .letterN, .star1, .star2, .star3, .line {
        stroke-miterlimit: 10;
       
      }

      .topBottom, .topCirc, .bottomCirc,  .letterS, .letterA,  .letterT, .letterU, .letterR, .letterN, .star1, .star2, .star3, .line {
        fill: none;
        stroke-width: .75px;
      }

      .topCirc, .bottomCirc,  .letterS, .letterA,  .letterT, .letterU, .letterR, .letterN {
        stroke: #ed1c24;
        //rounded out letter corners
        stroke-linejoin: round;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: 20s circleAnimate forwards;

      }

      .star1, .star2, .star3, .line{
        stroke: #ffde17;
        stroke-linejoin: round;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: 30s starAnimate forwards;

      }
    }
    @keyframes circleAnimate {
        from {
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes starAnimate {
        from {
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 0;
        }
        
    }
}
//end of first design////////////////////////////

//second logo
div#container-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 193, 202);
    svg#floral {
        width: 50%;
        .letterF, .letterL, .letterO, .letterR, .letterA, .letterC, .letterO-1, .letter, .petel1, .petel2, .circ1, .circ2 {
            stroke: #231f20;
            stroke-linejoin: round;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            animation: 20s letterAnimate forwards;
          }
    
          .letterF, .letterL, .letterO, .letterR, .letterA, .letterC, .letterO-1, .letter, .flower, .petel1, .petel2, .stem1, .stem2, .circ1, .circ2  {
            fill: none;
            stroke-miterlimit: 10;
          }
    
          .flower, .stem1, .stem2 {
            stroke: #fff;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            animation: 25s floraAnimate forwards;
          }
    }
    @keyframes letterAnimate {
        from {
            stroke-dashoffset: 500;
        }
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes floraAnimate {
        from {
            stroke-dashoffset: 500;
        }
        to {
            stroke-dashoffset: 0;
        }
        
    }
}
//end of logo 2//////////////////////////////////
